ENVIRONNEMENT=development
DEBUG=True
POSTGRES_PASSWORD=votre-super-long-mot-de-passe
POSTGRES_USER=votre-nom-d'utilisateur-postgres
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@postgres:5432/DBNAME
DATABASE_URL_SYNC=postgresql://USER:PASSWORD@localhost:5432/DBNAME
POSTGRES_DB=DBNAME
REDIS_URL=REDIS_URL
JWT_SECRET_KEY="votre-super-long-jwt-secret-key"

